{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "browser": "readonly",
    "expect": "readonly",
    "$": "readonly"
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js"
      ],
      "env": {
        "mocha": true
      }
    }
  ],
  "rules": {
    "no-undef": "error",
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-eval": "error",
    "no-implicit-coercion": "error",
    "no-implied-eval": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "prefer-const": "error",
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "no-alert": "warn",
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-unsafe-finally": "error",
    "prefer-arrow-callback": "error",
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "no-var": "error",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": false
      }
    ]
  }
}

